<!--"smoke","sanity","regression","know-defect","payment","destructive","admin-analytics","admin-booking-management"-->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CineBook Hybrid Suite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="false"/>

    <test name="CineBook Smoke Sanity And Regression">
        <groups>
            <run>
                <include name="admin-booking-management"/>
<!--                <exclude name="sanity"/>-->
<!--                <exclude name="regression"/>-->
<!--                <exclude name="known-defect"/>-->
<!--                <exclude name="payment"/>-->
<!--                <exclude name="destructive"/>-->
            </run>
        </groups>
        <packages>
            <package name="tests"/>
        </packages>
    </test>
</suite>
